altair==5.3.0
certifi==2025.1.31
charset-normalizer==3.3.2
click==8.1.7
fpdf==1.7.2
idna==3.6
numpy==1.26.4
openai==1.10.0
packaging==23.2
pandas==2.2.1
protobuf==4.25.3
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
six==1.16.0
streamlit==1.31.1
tenacity==8.2.3
toml==0.10.2
toolz==0.12.1
tqdm==4.66.2
typing_extensions==4.10.0
urllib3==2.2.1